name: Build RustDesk Web

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      upload-artifact:
        description: 'upload artifact'
        type: boolean
        default: true
      upload-tag:
        description: 'release tag'
        type: string
        default: "nightly"

env:
  FLUTTER_VERSION: "3.24.5"
  TAG_NAME: "${{ inputs.upload-tag }}"

jobs:
  build-web:
    name: build-rustdesk-web
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    steps:
      # 关键：递归拉子模块，否则 flutter 目录是空的
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          submodules: recursive
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Init / update submodules（保险再执行一次）
        shell: bash
        run: |
          git submodule update --init --recursive

      - name: Install Flutter
        uses: subosito/flutter-action@v2.12.0
        with:
          channel: stable
          flutter-version: ${{ env.FLUTTER_VERSION }}

      - name: Patch Flutter
        shell: bash
        working-directory: flutter
        run: |
          cd $(dirname $(dirname $(which flutter)))
          [[ "${{ env.FLUTTER_VERSION }}" == "3.24.5" ]] && \
            git apply ${{ github.workspace }}/.github/patches/flutter_3.24.4_dropdown_menu_enableFilter.diff

      - name: Build web bridge & deps
        shell: bash
        working-directory: flutter
        run: |
          cd web/js
          npm install -g yarn typescript protoc
          npm install ts-proto vite@2.8
          yarn install && yarn build

          cd ../web
          wget -q https://github.com/rustdesk/doc.rustdesk.com/releases/download/console/web_deps.tar.gz
          tar xzf web_deps.tar.gz

      - name: Build web
        shell: bash
        working-directory: flutter
        run: |
          flutter config --enable-web
          flutter pub get
          flutter build web --release

      - name: Pack web artifact
        shell: bash
        working-directory: flutter/build
        run: |
          cp ../web/README.md web/
          echo -e "\n\nThis build is for preview and not full functionality." >> web/README.md
          DIR="rustdesk-${{ env.TAG_NAME }}-web"
          mv web "$DIR"
          tar czf "$DIR.tar.gz" "$DIR"
          sha256sum "$DIR.tar.gz"
          echo "WEB_TAR=$(pwd)/$DIR.tar.gz" >> $GITHUB_ENV

      - name: Upload artifact
        if: inputs.upload-artifact
        uses: actions/upload-artifact@v4
        with:
          name: rustdesk-${{ env.TAG_NAME }}-web
          path: ${{ env.WEB_TAR }}

      - name: Publish release
        if: inputs.upload-artifact
        uses: softprops/action-gh-release@v1
        with:
          prerelease: true
          tag_name: ${{ env.TAG_NAME }}
          files: ${{ env.WEB_TAR }}
